*{
    margin: 0%;
    padding: 0%;
}
body{
    overflow: hidden;
}


#sky{
    background-image: url(/sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    z-index: 1;
    animation: shakesky linear .9s infinite;
    

}

#track{
    background-image: url(/track.png);
    background-size:contain;
    background-repeat: repeat-x;
    width: 800vw;
    height: 297px;
    position: absolute;
    bottom: 0%;
    animation: track 1s linear 1s infinite normal;
}
#car{
    background: url(/car_body.png) no-repeat;
    width: 300px;
    height: 200px;
    background-size: contain;
    position: relative;
    bottom: -17px;
    z-index: 1;
    animation: shake linear 1s infinite;

}
#tyre1{
    background-image: url(/car_wheel_right.png);
    background-size: contain;
    height: 54px;
    width: 54px;
    position: absolute;
    left: 188px;
    top: 33px;
    animation: wheelrotation 0.5s linear 0.1s infinite normal;

}
#tyre2{
    background: url(/car_wheel_right.png);
    background-size: contain;
    height: 61px;
    width: 60px;
    position: absolute;
    left: 34px;
    top: 30px;
    animation: wheelrotation 0.5s linear 0.1s infinite normal;
    


}
@keyframes wheelrotation{
    100%{
        transform:rotate(360deg);
    }
}

@keyframes track{
    100%{
        transform: translate(-600vw);
    }
}
@keyframes shake{
    0%{
        transform:translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
}

@keyframes shakesky{
    0%{
        transform:translateY(2px);
    }
    50%{
        transform: translateY(-2px);
    }
    100%{
        transform: translateY(2px);
    }
}
#a{
    z-index: 4;
    color: black;
    font-size: 40px;
    position: absolute;
    right: 10%;
    bottom: 400px;
    font-family: cursive;

}
#b{
    position: absolute;
    top: 0%;
}